build/*
nbproject/*
dist/*
*.log
/Scheduling/build/
/jcalendar/build/
/commons-lang/build/
/commons-logging/build/
/EditorSuite/build/
/fontbox/build/
/fileManagement/build/
/drmProjectType/build/
/SelectionAPI/build/
/jempbox/build/
/main/build/
/TextFilterAPI/build/
/utilities/build/
/budgeting/build/
/pdfbox/build/
/Scheduling/nbproject/private/
/EditorSuite/nbproject/private/
/utilities/nbproject/private/
/fileManagement/nbproject/private/
/budgeting/nbproject/private/
nbproject/private/
